<!DOCTYPE html>
<html>
<head>
  <title>MistressGumpu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Mistress Gumpu', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <% if current_user %>
          <ul class="nav navbar-nav pull-right">
            <li><%= image_tag current_user.image_url, alt: current_user.name %></li>
            <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
          </ul>
      <% else %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Google+', '/auth/google_oauth2' %></li>
          </ul>
      <% end %>
    </div>
  </div>
</nav>
</body>
</html>
